body {
    margin: auto;
}

/* section {
    height: 125vh;
} */

/* FADE-IN BACKGROUNDS */
.background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pink {
    background-image: url("images/ph1.jpg");
}

/* FADE-IN CLASSES */
.fade {
    opacity: 0;
    transition: all 2s;
}

.fade.visible {
    opacity: 1;
}

/* INTRO NEWS CLIP */
.text-block-small {
    /* background-color: #ffffff; */
    /* padding: 40px; */
    width: 400px;
}

#news-clip {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30% 0 30% 0; */
}

/* STORY SECTIONS */
.story-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 50%;
}

.text-block {
    overflow: hidden;
}

/*RESPONSIVE LAYOUTS*/

@media screen and (max-width: 900px) {

    .text-block-small {
        background-color: aqua;
        width: 70%;
    }

    .story-block {
        width: 80%;
    }
}