body {
    background-color: #F1F7ED;
    margin: auto;
}

/* section {
    height: 125vh;
} */

/* FADE-IN BACKGROUNDS */
.background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pink {
    background-image: url("images/ph1.jpg");
    color: #ffffff;
}

.cover {
    background-image: url("images/budapest-parliament-mobile.jpg");
    color: #ffffff;
}

.part-one {
    background-image: url("images/the-city-mobile.jpg");
    color: #ffffff;
}

.part-two {
    background-image: url("images/cook-and-burger-mobile.jpg");
    color: #ffffff;
}

.part-three {
    background-image: url("images/parliament-at-night.jpg");
    color: #ffffff;
}

.part-four {
    background-image: url("images/gellert-interior.jpg");
    color: #ffffff;
}

.part-five {
    background-image: url("images/budapest-panorama.jpg");
    color: #ffffff;
}

.part-six {
    background-image: url("images/liberty-statue-mobile.jpg");
    color: #ffffff;
}

/* FADE-IN CLASSES */
.fade {
    opacity: 0;
    transition: all 2s;
}

.fade.visible {
    opacity: 1;
}

/* INTRO NEWS CLIP */
.text-block-small {
    /* background-color: #ffffff; */
    /* padding: 40px; */
    width: 400px;
}

#news-clip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    /* padding: 30% 0 30% 0; */
}

/* STORY SECTIONS */
.story-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    width: 50%;
}

.text-block {
    overflow: hidden;
}

/*RESPONSIVE LAYOUTS*/

@media screen and (max-width: 900px) {

    .text-block-small {
        background-color: aqua;
        width: 70%;
    }

    .story-block {
        width: 80%;
    }
}